<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TermoUP</title>
    {{!-- BOOTSTRAP CDN --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" type="t.png" href="t.png"/>
</head>

<body >
    <div class="container p-4">
        <div class="row">
            <div class="container">
                
                <div class="card-footer">
                 <div class="alert alert-success" role="alert">
                    <img src="t.png" class="rounded float-left"  width="50px" height="50px">
                    <h1>TermoUP</h1>
                        </div>
                    </div>
                    
                </div>
            {{{ body }}}
        </div>
    </div>
</body>

</html>